
MCR/wordnet_spa/index.adj
MCR/wordnet_spa/verb.exc
MCR/wordnet_spa/README.txt
MCR/wordnet_spa/noun.exc
MCR/wordnet_spa/lexnames
MCR/wordnet_spa/index.verb
MCR/wordnet_spa/index.sense
MCR/wordnet_spa/index.noun
MCR/wordnet_spa/index.adv
MCR/wordnet_spa/data.verb
MCR/wordnet_spa/data.noun
MCR/wordnet_spa/data.adv
MCR/wordnet_spa/data.adj
MCR/wordnet_spa/cntlist.rev
MCR/wordnet_spa/adv.exc
MCR/wordnet_spa/adj.exc
MCR/wordnet_glg/verb.exc
MCR/wordnet_glg/README.txt
MCR/wordnet_glg/noun.exc
MCR/wordnet_glg/lexnames
MCR/wordnet_glg/index.verb
MCR/wordnet_glg/index.sense
MCR/wordnet_glg/index.noun
MCR/wordnet_glg/index.adv
MCR/wordnet_glg/index.adj
MCR/wordnet_glg/data.verb
MCR/wordnet_glg/data.noun
MCR/wordnet_glg/data.adv
MCR/wordnet_glg/data.adj
MCR/wordnet_glg/cntlist.rev
MCR/wordnet_glg/adv.exc
MCR/wordnet_glg/adj.exc
MCR/wordnet_eus/verb.exc
MCR/wordnet_eus/README.txt
MCR/wordnet_eus/noun.exc
MCR/wordnet_eus/lexnames
MCR/wordnet_eus/index.verb
MCR/wordnet_eus/index.sense
MCR/wordnet_eus/index.noun
MCR/wordnet_eus/index.adv
MCR/wordnet_eus/index.adj
MCR/wordnet_eus/data.verb
MCR/wordnet_eus/data.noun
MCR/wordnet_eus/data.adv
MCR/wordnet_eus/data.adj
MCR/wordnet_eus/cntlist.rev
MCR/wordnet_eus/adv.exc
MCR/wordnet_eus/adj.exc
MCR/wordnet_eng/verb.exc
MCR/wordnet_eng/README.txt
MCR/wordnet_eng/noun.exc
MCR/wordnet_eng/lexnames
MCR/wordnet_eng/index.verb
MCR/wordnet_eng/index.sense
MCR/wordnet_eng/index.noun
MCR/wordnet_eng/index.adv
MCR/wordnet_eng/index.adj
MCR/wordnet_eng/data.verb
MCR/wordnet_eng/data.noun
MCR/wordnet_eng/data.adv
MCR/wordnet_eng/data.adj
MCR/wordnet_eng/cntlist.rev
MCR/wordnet_eng/adv.exc
MCR/wordnet_eng/adj.exc
MCR/wordnet_cat/verb.exc
MCR/wordnet_cat/README.txt
MCR/wordnet_cat/noun.exc
MCR/wordnet_cat/lexnames
MCR/wordnet_cat/index.verb
MCR/wordnet_cat/index.sense
MCR/wordnet_cat/index.noun
MCR/wordnet_cat/index.adv
MCR/wordnet_cat/index.adj
MCR/wordnet_cat/data.verb
MCR/wordnet_cat/data.noun
MCR/wordnet_cat/data.adv
MCR/wordnet_cat/data.adj
MCR/wordnet_cat/cntlist.rev
MCR/wordnet_cat/adv.exc
MCR/wordnet_cat/adj.exc
MCR/transform.py
MCR/test_transform.py
MCR/README.md
MCR/generate_all.sh
*.bin
*.gz
